.footer
    padding: 60.35px 0 30px
    background: #262626

    &__box
        max-width: 1215px
        margin-inline: auto
        display: grid
        grid-template-columns: repeat(5, 1fr)

    &__item
        display: flex
        flex-direction: column
        h2
            @include fontStyle(16px, 600, normal)
            color: $color-white
            margin-bottom: 14px

        a, p
            @include fontStyle(16px, 400, 26px)
            color: #B0B0B0

        a
            &:hover
                color: $color-main

        p
            &:not(:last-child)
                margin-bottom: 20px

        &:last-child
            margin-left: 20px
            

    &__grid-inner
        display: grid
        grid-template-columns: repeat(2, 1fr)

        h2
            grid-column: span 2

        
    &__social-desktop
        display: flex
        gap: 15px
        margin-bottom: 40px
        margin-top: 16px

        img
            width: 34px 
            height: 34px

    &__line
        height: 1px
        width: 100%
        max-width: 1215px
        background: #414141
        margin-top: 37px
        margin-bottom: 27px
        margin-inline: auto

    &__polit
        @include fontStyle(12px, 400, normal)
        color: $color-white
        text-align: end
        margin-right: 80px
        display: block

    &__mobile-email
        display: none



@media all and (max-width: 768px)
    .footer
        padding: 26px 0 18px

        &__box
            display: grid
            grid-template-columns: repeat(2, 1fr)
            row-gap: 28px

        &__logo
            order: 0
            display: flex
            align-items: center
            svg
                width: 137px

        &__item
            gap: 6px
            h2
                font-size: 14px
                margin-bottom: 10px

            a, p
                font-size: 14px
                line-height: 16px

            p
                &:not(:last-child)
                    margin-bottom: 10px

            &:last-child
                margin-left: 0
            &:nth-child(2)
                order: 2
            &:nth-child(4)
                order: 3

        &__social-item
            order: 1
            justify-content: center

            h2
                display: none
                

        &__grid-inner
            display: none

            
        &__social-desktop
            gap: 10px
            margin-bottom: 0
            margin-top: 0
            justify-content: end

            img
                width: 30px 
                height: 30px

            & ~ a
                display: none

        &__line
            height: .7px
            margin-top: 35px
            margin-bottom: 15px

        &__polit
            font-size: 14px
            font-weight: 300
            text-align: start
            margin-right: 0

        &__mobile-email
            display: block
            margin-top: -10px