.section-production-home
    background-image: url(/src/img/production-home.webp)

    &__subtitle


.section-production
    padding: 90px 0 35px
    min-height: 890px
    &__tabs
        margin-top: 0

    &__box-history
        position: relative
        margin-top: 20px
        &::after
            content: ''
            position: absolute
            top: -30px
            left: 30px
            width: 100%
            max-width: 275px
            height: 230px
            border-radius: 15px
            background: #EFEFEF
            z-index: -1


.swiper-history
    position: relative
    width: 100%
    overflow: hidden

    &__box
        display: flex
        justify-content: center
        gap: 85px

    &-img
        max-width: 545px
        width: 100%
        overflow: hidden
        height: 460px
        border-radius: 15px

        img
            width: 100%
            height: 100%
            object-fit: cover
            border-radius: 15px

    &-content
        padding-top: 40px
        max-width: 521px
        width: 100%
        overflow: hidden
        height: fit-content

    &__title
        margin-bottom: 10px
        color: $color-black
        font-size: 35px
        font-weight: 600
        line-height: 64px

    &__desc
        color: #555
        font-family: $proximasoft
        font-size: 18px
        font-weight: 400
        line-height: 24px

    &__navi
        display: flex
        gap: 15px
        align-items: center
        margin-top: 17px

        svg
            width: 32px
            height: 32px

    &__between-btn-line
        height: 10px
        width: 1.3px
        background: #C2C2C2

    &__prev, &__next
        height: 32px
        cursor: pointer

    &__slide
        background: $color-white

    &__thumbs
        margin-top: 38px
        max-width: 1181px
        margin-inline: auto
        overflow: hidden
        position: relative
        z-index: 1
        .swiper-slide
            &.swiper-slide-thumb-active
                .history-thumb__circle
                    background: #04A756
                    width: 24px
                    height: 24px
                    margin-top: 0
                .history-thumb__circle-active
                    width: 10px
                    height: 10px
                .history-thumb__year
                    color: #04A756
                    font-size: 35.25px
                    line-height: 47px

        &::after
            content: ''
            position: absolute
            top: 12px
            left: 0
            width: 100%
            height: 1px
            background: #E0E0E0
            z-index: -1


.history-thumb
    display: flex
    flex-direction: column
    align-items: center
    cursor: pointer

    &__circle
        width: 16px
        height: 16px
        border-radius: 50%
        background: #555
        margin-bottom: 11px
        transition: all .3s ease-in-out
        display: flex
        align-items: center
        justify-content: center
        margin-top: 5px

        &-active
            width: 0
            height: 0
            border-radius: 50%
            background: white
            transition: all .3s ease-in-out

    &__year
        color: #555
        text-align: center
        font-size: 24px
        font-weight: 600
        line-height: 32px


.section-production-youtube
    padding: 35px 0 45px

    &__box
        border-radius: 15px
        height: 519px
        overflow: hidden

        iframe
            width: 100%
            height: 100%


.section-production-leader
    min-height: 100%

.production-leader
    display: flex
    gap: 86px
    justify-content: center
    position: relative
    padding-top: 40px

    &::after
        content: ''
        position: absolute
        top: -8px
        left: 30px
        width: 100%
        max-width: 275px
        height: 230px
        border-radius: 15px
        background: #EFEFEF
        z-index: -1

    &__img
        width: 100%
        min-height: 460px
        object-fit: cover
        max-width: 543px
        border-radius: 15px

    &__content
        max-width: 492px
        display: flex
        flex-direction: column
        gap: 13px
        padding-top: 20px

        p
            font-family: $proximasoft
            color: #555
            line-height: 130%

.production-about__content
    padding-top: 42px


@media all and (max-width: 768px)
    .section-production-home
        background-image: url(/src/img/production-home.webp)

        &__subtitle
            br
                display: none
    .section-production
        padding: 40px 0 20px
        min-height: 740px

        &__box-history
            margin-top: 10px
            &::after
                top: 0
                left: 0
                max-width: 158px
                height: 132px
                border-radius: 7px


    .swiper-history
        &__box
            display: flex
            flex-direction: column
            gap: 13px

        &-img
            max-width: 100%
            height: 189px
            border-radius: 7px
            padding: 17px 0 0 15px

            img
                border-radius: 7px

        &-content
            padding-top: 0
            max-width: 100%

        &__title
            margin-bottom: 0
            font-size: 26px
            line-height: 48px

        &__desc
            font-size: 14px
            line-height: 120%

        &__navi
            gap: 10px
            margin-top: 7px

        &__between-btn-line
            width: 1px

        &__thumbs
            margin-top: 17px
            padding-top: 10
            max-width: 100%
            .swiper-slide
                &.swiper-slide-thumb-active
                    .history-thumb__circle
                        width: 16px
                        height: 16px
                    .history-thumb__circle-active
                        width: 6px
                        height: 6px
                    .history-thumb__year
                        font-size: 22px
                        line-height: 30px

            &::after
                top: 9px

    .history-thumb
        &__circle
            width: 10px
            height: 10px
            margin-top: 3px

        &__year
            font-size: 15px
            line-height: 120%


    .section-production-youtube
        padding: 20px 0 20px

        &__box
            border-radius: 7px
            height: 250px


    .section-production-leader
        min-height: 100%
        .title-heading
            text-align: center

    .production-leader
        flex-direction: column-reverse
        gap: 15px
        padding-top: 0

        &::after
            display: none

        &__img
            min-height: 310px
            max-width: 100%
            border-radius: 7px

        &__content
            max-width: 100%
            flex-direction: column
            gap: 7px
            padding-top: 10px

            p
                line-height: 120%
                font-size: 14px


    .production-about__content
        padding-top: 15px