.advantage-card
    border-radius: 13px
    background: $color-white
    padding: 33px 18px 24px 30px

    img
        margin-bottom: 22px

    &__title
        @include fontStyle(18px, 600, 120%)
        color: $color-black
        margin-bottom: 11.4px
        text-transform: uppercase

    &__desc
        @include fontStyle(16px, 400, 20px)
        color: #555