.advantage-card
    border-radius: 13px
    background: $color-white
    padding: 33px 18px 24px 30px
    box-shadow: 0px 3.335px 37.518px 0px rgba(0, 0, 0, 0.07)

    img
        margin-bottom: 22px

    &__title
        @include fontStyle(18px, 600, 120%)
        color: $color-black
        margin-bottom: 11.4px
        text-transform: uppercase

    &__desc
        @include fontStyle(16px, 400, 20px)
        color: #555



@media all and (max-width: 768px)
    .advantage-card
        border-radius: 7px
        padding: 18px 13px 14px 16px
        box-shadow: 0px 1.825px 20.532px 0px rgba(0, 0, 0, 0.07)

        img
            margin-bottom: 11px
            height: 28px

        &__title
            font-size: 12px
            margin-bottom: 4.2px

        &__desc
            font-size: 8px
            line-height: 10px