.breadcrumbs
    margin-top: 160px

    &__box
        display: flex
        gap: 10px
        @include fontStyle(13px, 400, 23px)
        text-transform: uppercase
        color: $color-black

        a
            opacity: .5
            color: $color-black
            transition: opacity .3s ease
            &:hover
                opacity: 1
            &.prev-page
                opacity: 1
                display: flex
                gap: 7px
                align-items: center
                @include fontStyle(15px, 400, 24px)
                color: #444444



@media all and (max-width: 768px)
    .breadcrumbs
        margin-top: 66px

        &__box
            gap: 5px
            font-size: 14px

            a
                &.prev-page
                    font-size: 14px