.button
    &:link, &:visited
        display: inline-flex
        gap: 9px
        align-items: center
        background: $color-main
        color: $color-white
        padding: 15px 32px 13px
        border-radius: 10px
        @include fontStyle(16px, 600, normal)
        transition: background-color .3s ease
        user-select: none
        text-transform: uppercase

    svg
        transform: translateY(-1.5px)


    &_stock
        &:link, &:visited
            background: $color-orange
            border-radius: 52px
            @include fontStyle(17px, 700, 120%)
            padding: 8px 30px 6px
    &_animated
        position: relative
        animation-name: pulse_btn
        animation-duration: 1.5s
        animation-iteration-count: infinite
        transition: transform 300ms

@keyframes pulse_btn
    0% 
        transform: scale(0.9)

    50% 
        transform: scale(1.05)

    100%
        transform: scale(0.9)




@media all and (max-width: 768px)
    .button
        &:link, &:visited
            gap: 7px
            padding: 10px 25px
            border-radius: 7px
            @include fontStyle(14px, 600, 120%)
            width: fit-content

        svg
            transform: translateY(-1px)
            width: 7px


        &_stock
            &:link, &:visited
                background: $color-orange
                border-radius: 29px
                @include fontStyle(14px, 700, 140%)
                padding: 4px 14px 3px