.product-specifications
    padding: 44px 67px 40px 52px
    border: 1px solid #E4E4E4
    border-radius: 10px

    &__title
        color: $color-black
        @include fontStyle(30px, 600, 30px)
        text-transform: uppercase
        padding-bottom: 14.25px
        border-bottom: 1px solid #D7D7D7
        margin-bottom: 30px

    &__subtitle
        color: $color-black
        @include fontStyle(18px, 600, 24px)
        margin-bottom: 13px

    &__box
        display: flex
        flex-direction: column
        gap: 15px
        width: 60%

    &__item
        display: grid
        grid-template-columns: repeat(2, 1fr)
        border-bottom: 1px solid #E9E9E9
        padding-bottom: 5px
        p
            color: #666666
            @include fontStyle(18px, 400, 22px)
            &:last-child
                width: fit-content



@media all and (max-width: 768px)
    .product-specifications
        padding: 0
        border: none
        border-radius: 0

        &__title
            font-size: 22px
            padding-bottom: 0
            border-bottom: none
            margin-bottom: 5px

        &__subtitle
            font-size: 12px
            margin-bottom: 8px

        &__box
            gap: 8px
            width: 100%

        &__item
            border-bottom: .6px solid #E9E9E9
            padding-bottom: 2px
            p
                color: #666666
                font-size: 12px
                line-height: 14px