.section-about-home
    background-image: url(/src/img/section-about-home.webp)

    &__title
        margin-top: 38px
        margin-bottom: 109px

.section-about-difference
    padding: 90px 0 90px

    &__box
        display: flex
        align-items: center
        gap: 85px
        padding: 30px 0 0 30px
        position: relative

        &::after
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 230px
            max-width: 275px
            border-radius: 15px
            z-index: -1
            background-color: #EFEFEF

        img
            width: 100%
            max-width: 545px
            min-height: 460px
            height: 100%
            border-radius: 15px

    &__content
        max-width: 500px
        display: flex
        flex-direction: column
        gap: 13px
        
        p
            font-family: $proximasoft
            line-height: 130%
            color: #555



.section-about-why
    margin: 0
    &__box
        grid-template-columns: repeat(3, 1fr)

.section-about-animation
    &__box
        display: flex
        flex-direction: column
    &__tabs
        margin-bottom: 63px

    
.about-animation-item
    display: flex
    justify-content: space-between
    background-attachment: fixed
    background-size: 500px
    background-position: 47% 50%
    background-repeat: no-repeat
    &__left
        display: flex
        flex-direction: column
        gap: 13px
        max-width: 300px

        span
            background: linear-gradient(107deg, #04A756 -3.51%, rgba(4, 167, 157, 0.40) 106.06%)
            background-clip: text
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent

        h3
            color: #151515
            font-size: 30px
            font-weight: 700
            line-height: 39px
            text-transform: uppercase

    &__right
        display: flex
        flex-direction: column
        gap: 16px
        max-width: 389px
        font-family: $proximasoft
        padding-top: 29px

        h3
            color: #151515
            font-size: 22px
            font-weight: 700
            line-height: 24px
            text-transform: uppercase

        p
            color: #555

    &:nth-child(1)
        padding-bottom: 79px
        background-image: url('/src/img/section-about-animation-1-2.webp')
    &:nth-child(2)
        padding-bottom: 79px
        background-image: url('/src/img/section-about-animation-2-2.webp')
    &:nth-child(3)
        padding-bottom: 194px
        background-image: url('/src/img/section-about-animation-3-2.webp')
    &:nth-child(4)
        padding-bottom: 255px
        background-image: url('/src/img/section-about-animation-4-2.webp')
    &:nth-child(5)
        padding-bottom: 488px
        background-image: url('/src/img/section-about-animation-5-2.webp')
    &:nth-child(6)
        padding-bottom: 460px
        background-image: url('/src/img/section-about-animation-6-2.webp')

.section-about-work
    padding: 90px 0 0

    &__tabs
        margin: 0


.section-about-work-main
    padding: 60px 0 80px

    &__box
        margin-top: 0


@media all and (max-width: 768px)
    .section-about-home
        &__title
            margin-top: 19px
            margin-bottom: 50px

    .section-about-difference
        padding: 45px 0 45px

        &__box
            flex-direction: column-reverse
            gap: 20px
            padding: 0

            &::after
                display: none

            img
                max-width: 100%
                min-height: 250px
                height: 250px
                border-radius: 7px

        &__content
            max-width: 100%
            flex-direction: column
            gap: 7px
            
            p
                line-height: 120%
                font-size: 13px



    .section-about-why
        margin: 0
        &__box
            grid-template-columns: repeat(1, 1fr)



    .section-about-animation
        &__box
            display: flex
            flex-direction: column
        &__tabs
            margin-bottom: 25px

        
    .about-animation-item
        flex-direction: column
        background: white
        &__left
            display: flex
            flex-direction: column
            gap: 7px
            max-width: 100%

            h3
                font-size: 15px
                line-height: 120%

        &__right
            gap: 10px
            max-width: 100%
            padding-top: 15px

            h3
                font-size: 17px
                line-height: 120%

            p
                font-size: 13px

        &:nth-child(1)
            padding-bottom: 50px
            background: white
            
        &:nth-child(2)
            padding-bottom: 50px
            background: white
            
        &:nth-child(3)
            padding-bottom: 50px
            background: white
            
        &:nth-child(4)
            background: white
            
            padding-bottom: 50px
        &:nth-child(5)
            padding-bottom: 50px
            background: white
            
        &:nth-child(6)
            padding-bottom: 0
            background: white

            &::after
                content: ''
                background-image: url("/src/img/section-about-animation-6-2.webp")
                background-repeat: no-repeat
                background-position: center
                background-size: contain
                height: 400px
                width: 100%



    .section-about-work
        padding: 40px 0 0

        &__tabs
            margin: 0


    .section-about-work-main
        padding: 30px 0 40px

        &__box
            margin-top: 0