.section-location
    padding: 10px 0 70px

    &__box
        margin-top: 10px
        display: grid
        grid-template-columns: 300px 1fr
        column-gap: 10px

    &__info-wrapper
        display: flex
        flex-direction: column
        gap: 5px

    &__map-wrapper
        position: relative

        &::after
            position: absolute
            left: 40px
            top: -180px
            content: ''
            width: 1060px
            height: 1060px
            z-index: -1
            background: linear-gradient(232deg, #F9F9F9 17.36%, #F5FBF7 87.19%)
            border-radius: 50%
        svg
            height: 500px
            path
                transition: fill .3s ease-in-out
                &.active
                    fill: #04A756

                &.region.active
                    fill: #E6F4ED

                &.active.stroke
                    stroke: #04A756
                    fill: #E6F4ED

                &.city
                    cursor: pointer
                    position: relative
                &.region
                    &:hover
                        fill: #E6F4ED




.location-card
    border-radius: 15px
    width: 100%
    height: 100%
    padding: 25px 10px 19px 17px
    background: linear-gradient(107deg, #04A756 -3.51%, #04A79D 106.06%)
    position: relative
    z-index: 0
    overflow: hidden



    &::after
        content: ''
        position: absolute
        right: -11px
        bottom: -15px
        width: 76px
        height: 80px
        z-index: 1
        background-image: url("/src/img/location-flower.webp")
        background-repeat: no-repeat
        background-size: cover

    &__title
        color: $color-white
        font-size: 20px
        font-weight: 600
        line-height: 28px
        letter-spacing: 2px
        text-transform: uppercase
        margin-bottom: 6px
        display: none
        &.active
            display: inline-block

    &__line
        width: 62px
        height: 2px
        background: $color-white
        margin-bottom: 14px

    &__item
        display: flex
        flex-direction: column
        gap: 5px

        &:not(:last-child)
            margin-bottom: 7px 

        &.mail
            a
                text-decoration: underline

    p
        color: $color-white
        font-size: 18px
        font-weight: 400
        line-height: 24px
        display: flex
        gap: 11px
        align-items: center

    a, span
        color: $color-white
        font-size: 17px
        font-weight: 400
        line-height: 24px
        display: none
        &.active    
            display: inline-block

    &__wrapper
        position: relative

    &__arrow
        position: absolute
        right: -27px
        top: 50%
        transform: translateY(-50%)

    &_hotline
        display: inline-block
        height: fit-content
        &::after
            background: unset

        .location-card__title, a, span
            display: block

.section-location-form
    padding: 40px 0 100px


@media all and (max-width: 768px)
    .section-location
        padding: 25px 0 35px

        &__box
            margin-top: 15px
            grid-template-columns: 1fr
            column-gap: 0
            row-gap: 15px

        &__info-wrapper
            display: flex
            flex-direction: column
            gap: 17px
            order: 1

        &__map-wrapper
            position: relative
            overflow-y: scroll
            scrollbar-width: thin
            scrollbar-color: #04A756 #E1E1E1

            &::-webkit-scrollbar
                width: 2px

            &::-webkit-scrollbar-thumb
                background: #04A756
                border-radius: 20px

            &::-webkit-scrollbar-track
                background: #E1E1E1

            &::after
                display: none
            svg
                width: 400px
                height: 250px




    .location-card
        border-radius: 7px
        padding: 13px

        &__title
            font-size: 16px
            line-height: 120%
            letter-spacing: 1px
            margin-bottom: 6px

        &__line
            width: 30px
            height: 1px
            margin-bottom: 12px

        &__item
            gap: 5px

            &:not(:last-child)
                margin-bottom: 10px 

        p
            color: $color-white
            font-size: 14px
            line-height: 14px
            gap: 6px
            align-items: center

            svg
                width: 10px
                height: 10px

        a, span
            font-size: 14px
            line-height: 120%

        &__arrow
            display: none


    .section-location-form
        padding: 20px 0 50px