.section-news
    padding: 48px 0

    &__heading-box
        margin-bottom: 30px
        display: flex
        justify-content: space-between

    &__heading-btns
        display: flex
        align-items: center
        gap: 10px

        path
            &:last-child
                fill: #444

    &__between-btn-line
        width: 2px
        height: 20px
        background: #A9A9A9

    &__swiper-prev, &__swiper-next
        height: 45px
        transition: transform .3s ease
        cursor: pointer

        &:hover
            transform: scale(1.1)

    &__content-box
        position: relative
        padding-bottom: 50px

    &__swiper-pagination
        top: unset !important
        bottom: 0
        overflow: hidden
        border-radius: 3px
        span
            background: $color-main !important

.news-item
    display: flex
    border-radius: 20px
    overflow: hidden
    border: 1px solid #EDEDED
    background: #FFF
    transition: box-shadow .2s ease-in-out

    img
        max-width: 315px
        width: 100%
        height: auto
        object-fit: cover

    &__content
        padding: 48px 19px 48px 46px

    &__date
        @include fontStyle(18px, 400, 24px)
        color: #888888
        margin-bottom: 33px

    &__title
        @include fontStyle(20px, 600, 28px)
        color: #444
        text-transform: uppercase
        margin-bottom: 10px

    &__line
        height: 2px
        width: 62px
        background: #444
        margin-bottom: 33px

    &__desc
        @include fontStyle(18px, 400, 24px)
        color: #444
        margin-bottom: 34px

    &__more
        color: $color-main
        font-size: 17px
        font-weight: 600
        line-height: 24px
        letter-spacing: 1.7px
        text-decoration-line: underline
        text-transform: uppercase
        display: flex
        gap: 11px
        align-items: center

    &:hover
        box-shadow: 0px 4px 20px 0px rgba(52, 52, 52, 0.15)