.section-youtube
    position: relative
    background-image: url(/src/img/section-youtube-bg.webp)
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    padding: 91px 0 90px

    &::after
        content: ''
        position: absolute
        width: 100%
        height: 100%
        background: #262626CC
        top: 0
        left: 0

    .container
        position: relative
        z-index: 1

    &__title
        color: $color-white

    &__box
        margin-top: 33px
        display: flex
        justify-content: center
        gap: 70px

        iframe
            max-width: 528px
            width: 100%
            height: 374px
            border-radius: 20px

    &__content
        max-width: 604px
        width: 100%

        h2
            @include fontStyle(30px, 600, 43px)
            color: $color-white
            text-transform: uppercase
            margin-top: 21px

        p
            @include fontStyle(20px, 400, 26px)
            color: $color-white
            margin-top: 30px

    &__btns
        display: grid
        grid-template-columns: repeat(2, 1fr)
        column-gap: 20px
        row-gap: 17px
        margin-top: 32px
        max-width: 488px

    &__btn
        &:link, &:visited
            padding: 18px 0 12px
            display: flex
            align-items: center
            justify-content: center
            gap: 10px
            @inlude fontStyle(16px, 600, normal)
            color: $color-main
            background: $color-white
            border-radius: 10px
            border: 1px solid $color-white
        &:last-child
            grid-column: span 2
        &:nth-child(2)
            background: rgba(255, 255, 255, .2)
            color: $color-white


        svg
            transform: translateY(-2px)

    &__swiper
        height: 100%
        width: 100%
        overflow: hidden

    &__swiper-prev, &__swiper-next
        position: absolute
        top: 57%
        z-index: 10
        cursor: pointer
        transition: transform .2s ease

        &:hover
            transform: scale(1.1)

    &__swiper-prev
        left: -30px

    &__swiper-next
        right: -30px

    &__swiper-pagination
        bottom: -50px
        top: unset !important
        max-width: 1200px
        left: 50% !important
        transform: translateX(-50%)
        border-radius: 50px
        overflow: hidden
        height: 3px !important

        span
            background: $color-white !important

    &__mobile-swiper-btns
        display: none





@media all and (max-width: 768px)
    .section-youtube
        padding: 52px 0 28px

        &__title
            text-align: center

        &__box
            margin-top: 20px
            gap: 15px
            flex-direction: column

            iframe
                max-width: 100%
                height: 180px
                border-radius: 12.5px

        &__content
            max-width: 100%

            h2
                font-size: 18px
                line-height: 20px
                margin-top: 0

            svg.svg-line
                height: 1.5px
                width: 24px

            p
                font-size: 14px
                line-height: 120%
                margin-top: 0

        &__btns
            column-gap: 7px
            row-gap: 11px
            margin-top: 14px
            max-width: 100%

        &__btn
            &:link, &:visited
                padding: 13px 0 12px
                gap: 7px
                font-size: 14px
                border-radius: 7px
                height: fit-content

            svg
                width: 7px
                transform: translateY(-.5px)

            .svg-youtube
                width: 17px
                height: 17px

        &__swiper
            height: 100%
            width: 100%
            overflow: hidden

        &__swiper-prev, &__swiper-next
            display: none

        &__swiper-pagination
            bottom: 80px
            max-width: 95%
            height: 1.5px !important

        &__mobile-swiper-btns
            display: flex
            gap: 10px
            justify-content: center
            margin-top: 64px
            margin-bottom: 5px

            svg
                transition: transform .3s ease
                height: 40px

                &:hover
                    transform: scale(1.1)

                &:active
                    transform: scale(1)
