.section-form-change-old
    
    &__box
        background-image: url(/src/img/section-form-change-old-1.webp)
        justify-content: start

    &__main-form
        padding: 126px 45px 112px 55px
        background: linear-gradient(83deg, #04A756 0.98%, #04A76AD3 58.57%, #04A79D66 120.39%)
        width: 51%
        .main-form__title
            margin-bottom: 23px
            