.section-form-study
    &__box
        background-image: url(/src/img/section-study-1.webp)
        justify-content: start
    &__main-form
        padding: 94px 63px 75px 55px

    &__input
        grid-column: unset

    &__main-form-form
        input:nth-child(3)
            grid-column: unset

        .main-form__wrapper-submit
            margin-top: 18px
            

    &__desc
        @include fontStyle(16px, 400, 24px)